<template name="todos">
    <div class="container">
        <div class="row nav">
            {{>nav}}
        </div>
        <div class="row justify-content-center">
            <h1>Reminder List</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="card card-default">
                    <div class="card-header">
                        Reminders
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <th>Title</th>
                                <th></th>
                                <th></th>
                            </thead>
                            <tbody>
                                {{#each tasks}}
                                    {{ > task }}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</template>