<template name="todo_show">
    <div class="container">
        <div class="row nav">
            {{>nav}}
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="card card-default">
                    <div class="card-header">
                        Update Reminder
                    </div>
                    <div class="card-body">
                        <form action="" class="reminder-update">
                            <input type="hidden" name="id" value={{_id}}>
                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input type="text" 
                                class="form-control"
                                name="title"
                                value={{title}}
                                />
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea name="description"
                                id="" cols="5" rows="5"
                                class="form-control"
                                value={{description}}
                                ></textarea>
                            </div>
                            <div class="form-group">
                                <label for="start">Start:</label>
                                <input type="date" id="start" name="start" 
                                value={{start}} min="2018-01-01" 
                                max="2022-12-31">
                            </div>
                            <div class="form-group">
                                <label for="">{{createdAt}}</label>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-success">
                                    Update Reminder
                                </button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>